# Step 1: Ignore everything
*

# Step 2: BUT, do NOT ignore the .gitignore file itself!
!.gitignore
!.git
# Step 3: Un-ignore specific files in the root directory
!Python_translation.py
!pipeline.md
!README.md
!analise_blast.py
!analyze_regions.py
!main.nf
!nextflow.config
!conf/
!conf/**
!workflows/
!workflows/**
!modules/
!modules/**
