# Step 1: Ignore everything
*

# Step 2: BUT, do NOT ignore the .gitignore file itself!
!.gitignore
!.git
# Step 3: Un-ignore specific files in the root directory
!run_all.py
!Python_translation.py
!pipeline.md
!README.md
!analise_blast.py
!ss_test3.sh
!run_nextsteps.sh
!analyze_regions.py
