manifest {
    name = 'pseudogenes-nextflow'
    author = 'Pedro'
    homePage = 'local'
    description = 'Nextflow DSL2 pipeline for pseudogene discovery'
    version = '0.1.0'
}

params {
    outdir = 'results_nf'

    uniprot_fasta = 'uniprot_sprot.fasta'
    genome_fasta = 'genoma/GCF_000005845.2_ASM584v2_genomic.fna'

    uniprot_url = 'https://ftp.ebi.ac.uk/pub/databases/uniprot/current_release/knowledgebase/complete/uniprot_sprot.fasta.gz'
    genome_url = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/005/845/GCF_000005845.2_ASM584v2/GCF_000005845.2_ASM584v2_genomic.fna.gz'

    blast_bin_dir = "${projectDir}/BLAST/ncbi-blast-2.17.0+/bin"
    ssearch_bin = "${projectDir}/fasta-36.3.8i/bin/ssearch36"

    shuffle_count = 10000
    ssearch_chunk_size = 200

    blast_word_size = 3
    blast_gapopen = 11
    blast_gapextend = 1
    blast_matrix = 'BLOSUM62'
    blast_threshold = 13
    blast_comp_stats = 2
    blast_evalue_null = 10
    blast_evalue_tblastn = 1
    blast_max_target_seqs = 1000000
    blast_dbsize_tblastn = 10000

    ssearch_k = 500
    ssearch_f = -11
    ssearch_g = -1
    ssearch_matrix = 'BL62'
    ssearch_z = 11
    ssearch_Z = 10000
}

process {
    withLabel: heavy {
        cpus = 8
        memory = '16 GB'
        time = '24h'
    }

    withLabel: medium {
        cpus = 4
        memory = '8 GB'
        time = '8h'
    }

    withLabel: light {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
}

profiles {
    local {
        process.executor = 'local'
    }

    hpc {
        process.executor = 'slurm'
        process.queue = 'batch'
    }

    docker {
        docker.enabled = true
    }

    singularity {
        singularity.enabled = true
    }
}
